body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

nav {
    height: 3 0px;
    align-items: center;
    display: flex;
    position: fixed;
    width: 100%;
    padding: .5em;
    background-color: beige;
}

.container {
    padding: 10px;
}

form {
    padding: 6em 1em 1em;
    display: grid;
    background-color: lightblue;
}

input#title,
textarea#body {
    margin-bottom: 10px;
}

button {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}